/* 

  	@author      : 00xWolf
  	  GitHub    : @mmsaeed509
  	  Developer : Mahmoud Mohamed
  	﫥  Copyright : Exodia OS

 	*/

* {

background:			#090a0a;
background-alt:		#9c9d9d;
foreground:			#dfe1e1;
selected:			#35A9A4;
highlight:			#9BADAC;
urgent:				#247270;
on:					#2A817E;
off:				#247270;

}
